# Logs
logs
*.log
npm-debug.log*

# Dependências
node_modules

# Build
dist
dist-ssr

# Ambiente e Segredos (CRÍTICO)
.env
.env.local
.env.*.local

# Editor
.vscode/*
.idea
.DS_Store

# Android
android/app/build
android/.gradle
android/local.properties
android/captures
android/app/src/main/assets/public
bfg-1.14.0.jar
